html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: intro; src: url("fonts/Intro.eot"); src: url("fonts/Intro.eot?#iefix") format("embedded-opentype"), url("fonts/Intro.woff2") format("woff2"), url("fonts/Intro.woff") format("woff"), url("fonts/Intro.ttf") format("truetype"), url("fonts/Intro.otf") format("opentype"); font-weight: normal; font-style: normal; }
@font-face { font-family: intro-l; src: url("fonts/Intro Light.eot"); src: url("fonts/Intro Light.eot?#iefix") format("embedded-opentype"), url("fonts/Intro Light.woff2") format("woff2"), url("fonts/Intro Light.woff") format("woff"), url("fonts/Intro Light.ttf") format("truetype"), url("fonts/Intro Light.otf") format("opentype"); font-weight: normal; font-style: normal; }
@font-face { font-family: intro-b; src: url("fonts/Intro Black.eot"); src: url("fonts/Intro Black.eot?#iefix") format("embedded-opentype"), url("fonts/Intro Black.woff2") format("woff2"), url("fonts/Intro Black.woff") format("woff"), url("fonts/Intro Black.ttf") format("truetype"), url("fonts/Intro Black.otf") format("opentype"); font-weight: normal; font-style: normal; }
body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

a { color: #fff; text-decoration: none; }

.out { *zoom: 1; width: 100%; min-height: 100%; }
.out:after { content: " "; display: table; clear: both; }
.out .lside { min-height: 100%; max-height: 100%; background-color: #fd5653; float: left; position: fixed; top: 0; display: block; padding: 5px; z-index: 9999; *zoom: 1; }
.out .lside:after { content: " "; display: table; clear: both; }
.out .lside .lside__logo a { background: url('../img/icons-s0d8248103e.png') 0 -341px no-repeat; width: 90px; height: 73px; display: block; }
.out .lside .lside__nav { margin-top: 200px; padding-left: 35px; }
.out .lside .lside__nav ul { width: 10px; cursor: pointer; }
.out .lside .lside__nav ul:hover { width: auto; padding-right: 10px; }
.out .lside .lside__nav ul:hover a { display: inline-block; }
.out .lside .lside__nav ul li { margin-bottom: 10px; }
.out .lside .lside__nav ul li:before { content: " "; background: url('../img/icons-s0d8248103e.png') 0 -161px no-repeat; width: 9px; height: 9px; display: inline-block; margin-right: 20px; }
.out .lside .lside__nav ul li a { min-height: 15px; text-decoration: none; display: none; }
.out .lside .lside__nav ul li a:hover, .out .lside .lside__nav ul li a:focus { text-decoration: underline; }
.out .content { margin-left: 100px; *zoom: 1; }
.out .content:after { content: " "; display: table; clear: both; }
.out .content .inn { width: 960px; margin: 0 auto; padding-top: 40px; *zoom: 1; }
.out .content .inn:after { content: " "; display: table; clear: both; }
.out .content__header { font-family: "intro"; font-size: 16px; margin-bottom: 40px; }
.out .content__header h2 { margin-left: -20px; text-transform: uppercase; color: #2FDAFF; }
@media only screen and (max-width: 1100px) { .out .content__header h2 { margin-left: 10px; } }
.out .content__header h2.red { color: #fd5653; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; display: inline-block; }

.out.feature { background: url(../img/feature_bg.jpg); -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }

.content { padding-bottom: 40px; }
.content__feature { position: relative; }
.content__feature .thng { float: left; height: 247px; width: 480px; }
.content__feature .thng:nth-child(4n) { margin-left: -38px; width: 499px; }
.content__feature .thng.img { z-index: 9; position: relative; }
.content__feature .thng.img img { max-width: 100%; min-height: 100%; }
.content__feature .thng.text { background: #fff; text-align: center; color: #3D3C3C; }
.content__feature .thng.text:nth-of-type(even) { margin-left: -19px; }
.content__feature .thng.text h5 { font-family: "intro-b"; font-size: 14px; text-transform: uppercase; padding-top: 20px; }
.content__feature .thng.text p { font-family: "intro-l"; text-transform: uppercase; }
.content__feature .loca i { background: url('../img/icons-s0d8248103e.png') 0 -271px no-repeat; width: 64px; height: 60px; display: inline-block; margin-top: 40px; }
.content__feature .place i { background: url('../img/icons-s0d8248103e.png') 0 -490px no-repeat; width: 64px; height: 60px; display: inline-block; margin-top: 40px; }
.content__feature .play i { background: url('../img/icons-s0d8248103e.png') 0 -560px no-repeat; width: 64px; height: 60px; display: inline-block; margin-top: 40px; }
.content__feature .exp i { background: url('../img/icons-s0d8248103e.png') 0 -180px no-repeat; width: 64px; height: 36px; display: inline-block; margin-top: 40px; }
.content__feature .cool i { background: url('../img/icons-s0d8248103e.png') 0 -97px no-repeat; width: 64px; height: 54px; display: inline-block; margin-top: 40px; }
.content__feature .net i { background: url('../img/icons-s0d8248103e.png') 0 -424px no-repeat; width: 64px; height: 56px; display: inline-block; margin-top: 40px; }
.content__feature .bon i { background: url('../img/icons-s0d8248103e.png') 0 0 no-repeat; width: 64px; height: 57px; display: inline-block; margin-top: 40px; }

.out.work { background: url(../img/work_bg.jpg); -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }
.out.work .content__men { margin: 0 auto; *zoom: 1; }
.out.work .content__men:after { content: " "; display: table; clear: both; }
.out.work .content__men .item { width: 150px; margin: 0 auto; padding: 0 60px 20px 30px; display: inline-block; }
.out.work .content__men .item:nth-child(4n) { padding-right: 0; }
.out.work .content__men .item .photo img { width: 100%; height: 100%; }
.out.work .content__men .item .foo { background: #fd5653; max-width: 100%; color: #fff; font-family: "intro"; padding: 0 5px; margin-top: -5px; border-left: 1px solid #fff; border-right: 1px solid #fff; border-bottom: 1px solid #fff; *zoom: 1; }
.out.work .content__men .item .foo:after { content: " "; display: table; clear: both; }
.out.work .content__men .item .foo .name { float: left; padding: 5px 0; width: 80%; height: 100%; border-right: 1px solid #fff; }
.out.work .content__men .item .foo .fb { background: url('../img/icons-s0d8248103e.png') 0 -226px no-repeat; width: 16px; height: 35px; display: inline-block; margin: 4px 3px 0 0; float: right; }

.out.faq { background: url(../img/faq_bg.jpg); -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }

.content.faq { padding-left: 20px; }
.content__header h2 { margin-left: 0 !important; }
.content__msg .box { width: 480px; background: #FFF; padding: 20px; margin-bottom: 40px; position: relative; }
.content__msg .box:before { border: 7px solid transparent; border-bottom: 7px solid #fff; border-left: 7px solid #fff; content: ""; margin-top: -14px; position: absolute; left: 0; top: 0; }
.content__msg .box h4 { font-family: "intro"; text-transform: uppercase; }
.content__msg .box p { font-family: "intro-l"; text-transform: uppercase; }

.out.price { background: url(../img/price_bg.jpg); -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }

.content__price .inn .about { margin: 0 auto; padding: 10px; border: 6px solid #2fdaff; width: 480px; }
.content__price .inn .about .b { background: #FFF; text-align: center; }
.content__price .inn .about .num { width: 100px; height: 100px; position: relative; display: inline-block; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; border: 4px solid transparent; margin: 20px 0; box-shadow: 0 0 0 6px crimson; }
.content__price .inn .about .num h4 { margin-top: 30px; color: #fd5653; font-family: "intro"; font-size: 28px; }
.content__price .inn .about .num h4 .cur { font-family: Arial; font-weight: bolder; }
.content__price .inn .about p { font-family: "intro-l"; font-weight: 100; font-size: 16px; padding-bottom: 20px; text-transform: uppercase; }
.content__price .inn .join { text-align: center; margin-top: 20px; }
.content__price .inn .join .bd { margin: 0 auto; width: 200px; height: 50px; padding: 5px; border: 6px solid #fd5653; }
.content__price .inn .join input { width: 200px; height: 50px; background: #2fdaff; color: #fff; font-family: "intro"; cursor: pointer; }

.out.team { background: url(../img/team_bg.jpg); -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }

.content__people { *zoom: 1; }
.content__people:after { content: " "; display: table; clear: both; }
.content__people .hero { padding: 40px 40px 20px 40px; border: 6px solid #2fdaff; margin: 0 40px 40px 0; float: left; }
.content__people .hero:nth-child(3n) { margin-right: 0; }
.content__people .hero .pht { text-align: center; }
.content__people .hero .pht .img { width: 200px; height: 200px; }
.content__people .hero .pht .img img { width: 100%; height: 100%; }
.content__people .hero .pht p { font-family: "intro"; color: #fd5653; text-align: center; margin-top: 20px; }
