html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "intro"; src: url("fonts/intro.eot"); src: url("fonts/intro.eot?#iefix") format("embedded-opentype"), url("fonts/intro.woff2") format("woff2"), url("fonts/intro.woff") format("woff"), url("fonts/intro.ttf") format("truetype"), url("fonts/intro.otf") format("opentype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "intro-l"; src: url("fonts/Intro Light.eot"); src: url("fonts/Intro Light.eot?#iefix") format("embedded-opentype"), url("fonts/Intro Light.woff2") format("woff2"), url("fonts/Intro Light.woff") format("woff"), url("fonts/Intro Light.ttf") format("truetype"), url("fonts/Intro Light.otf") format("opentype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "intro-b"; src: url("fonts/Intro Black.eot"); src: url("fonts/Intro Black.eot?#iefix") format("embedded-opentype"), url("fonts/Intro Black.woff2") format("woff2"), url("fonts/Intro Black.woff") format("woff"), url("fonts/Intro Black.ttf") format("truetype"), url("fonts/Intro Black.otf") format("opentype"); font-weight: normal; font-style: normal; }
body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

a { color: #fff; text-decoration: none; }

.out { *zoom: 1; width: 100%; min-height: 100%; }
.out:after { content: " "; display: table; clear: both; }
.out .lside { min-height: 100%; max-height: 100%; background-color: #fd5653; float: left; position: fixed; top: 0; display: block; padding: 5px; z-index: 9999; *zoom: 1; }
.out .lside:after { content: " "; display: table; clear: both; }
.out .lside .lside__logo a { background: url('../img/icons-s6109553f29.png') 0 -341px no-repeat; width: 90px; height: 73px; display: block; }
.out .lside .lside__nav { margin-top: 200px; padding-left: 35px; }
.out .lside .lside__nav ul { width: 10px; cursor: pointer; }
.out .lside .lside__nav ul:hover { width: auto; padding-right: 10px; }
.out .lside .lside__nav ul:hover a { display: inline-block; }
.out .lside .lside__nav ul li { margin-bottom: 10px; }
.out .lside .lside__nav ul li:before { content: " "; background: url('../img/icons-s6109553f29.png') 0 -161px no-repeat; width: 9px; height: 9px; display: inline-block; margin-right: 20px; }
.out .lside .lside__nav ul li a { min-height: 15px; text-decoration: none; display: none; }
.out .lside .lside__nav ul li a:hover, .out .lside .lside__nav ul li a:focus { text-decoration: underline; }
.out .content { margin-left: 100px; *zoom: 1; }
.out .content:after { content: " "; display: table; clear: both; }
.out .content .inn { width: 960px; margin: 0 auto; padding-top: 40px; *zoom: 1; }
.out .content .inn:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1100px) { .out .content .inn { margin-left: 10px; } }
.out .content__header { font-family: "intro"; font-size: 16px; margin-bottom: 40px; }
.out .content__header h2 { margin-left: -20px; text-transform: uppercase; color: #2FDAFF; }
@media only screen and (max-width: 1100px) { .out .content__header h2 { margin-left: 10px; } }
.out .content__header h2.red { color: #fd5653; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; display: inline-block; }

.out.feature { background: url(../img/feature_bg.jpg); -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }

.content { padding-bottom: 40px; }
.content__feature { position: relative; }
.content__feature .thng { float: left; height: 247px; width: 480px; }
.content__feature .thng:nth-child(4n) { margin-left: -38px; width: 499px; }
.content__feature .thng.img { z-index: 9; position: relative; }
.content__feature .thng.img img { max-width: 100%; min-height: 100%; }
.content__feature .thng.text { background: #fff; text-align: center; color: #3D3C3C; }
.content__feature .thng.text:nth-of-type(even) { margin-left: -19px; }
.content__feature .thng.text h5 { font-family: "intro", Arial, sans-serif; font-size: 14px; text-transform: uppercase; padding-top: 20px; }
.content__feature .thng.text p { margin: 0 auto; width: 408px; font-family: "intro-l", Helvetica, Arial, sans-serif; text-transform: uppercase; }
.content__feature .loca i { background: url('../img/icons-s6109553f29.png') 0 -271px no-repeat; width: 64px; height: 60px; display: inline-block; margin-top: 40px; }
.content__feature .place i { background: url('../img/icons-s6109553f29.png') 0 -880px no-repeat; width: 64px; height: 60px; display: inline-block; margin-top: 40px; }
.content__feature .play i { background: url('../img/icons-s6109553f29.png') 0 -950px no-repeat; width: 64px; height: 60px; display: inline-block; margin-top: 40px; }
.content__feature .exp i { background: url('../img/icons-s6109553f29.png') 0 -180px no-repeat; width: 64px; height: 36px; display: inline-block; margin-top: 40px; }
.content__feature .cool i { background: url('../img/icons-s6109553f29.png') 0 -97px no-repeat; width: 64px; height: 54px; display: inline-block; margin-top: 40px; }
.content__feature .net i { background: url('../img/icons-s6109553f29.png') 0 -814px no-repeat; width: 64px; height: 56px; display: inline-block; margin-top: 40px; }
.content__feature .bon i { background: url('../img/icons-s6109553f29.png') 0 0 no-repeat; width: 64px; height: 57px; display: inline-block; margin-top: 40px; }

.out.work { background: url(../img/work_bg.jpg); -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }
.out.work .content__men { margin: 0 auto; *zoom: 1; }
.out.work .content__men:after { content: " "; display: table; clear: both; }
.out.work .content__men .item { width: 150px; margin: 0 auto; padding: 0 60px 20px 30px; display: inline-block; }
.out.work .content__men .item:nth-child(4n) { padding-right: 0; }
.out.work .content__men .item .photo img { width: 100%; height: 100%; }
.out.work .content__men .item .foo { background: #fd5653; max-width: 100%; color: #fff; font-family: "intro", Arial, sans-serif; padding: 0 5px; margin-top: -5px; border-left: 1px solid #fff; border-right: 1px solid #fff; border-bottom: 1px solid #fff; *zoom: 1; }
.out.work .content__men .item .foo:after { content: " "; display: table; clear: both; }
.out.work .content__men .item .foo .name { float: left; padding: 5px 0; width: 80%; height: 100%; border-right: 1px solid #fff; }
.out.work .content__men .item .foo .fb { background: url('../img/icons-s6109553f29.png') 0 -226px no-repeat; width: 16px; height: 35px; display: inline-block; margin: 4px 3px 0 0; float: right; }

.out.faq { background: url(../img/faq_bg.jpg); -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }

.content.faq { padding-left: 20px; }
.content__header h2 { margin-left: 0 !important; }
.content__msg .box { width: 480px; background: #FFF; padding: 20px; margin-bottom: 40px; position: relative; }
.content__msg .box:before { border: 7px solid transparent; border-bottom: 7px solid #fff; border-left: 7px solid #fff; content: ""; margin-top: -14px; position: absolute; left: 0; top: 0; }
.content__msg .box h4 { font-family: "intro", Arial, sans-serif; text-transform: uppercase; }
.content__msg .box p { font-family: "intro-l", Helvetica, Arial, sans-serif; text-transform: uppercase; }

.out.price { background: url(../img/price_bg.jpg); -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }

.content__price .inn .about { margin: 0 auto; padding: 10px; border: 6px solid #2fdaff; width: 480px; }
.content__price .inn .about .b { background: #FFF; text-align: center; }
.content__price .inn .about .num { width: 100px; height: 100px; position: relative; display: inline-block; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; border: 4px solid transparent; margin: 20px 0; box-shadow: 0 0 0 6px crimson; }
.content__price .inn .about .num h4 { margin-top: 30px; color: #fd5653; font-family: "intro", Arial, sans-serif; font-size: 28px; }
.content__price .inn .about .num h4 .cur { font-family: Arial; font-weight: bolder; }
.content__price .inn .about p { font-family: "intro-l", Arial, sans-serif; font-weight: 100; font-size: 16px; padding-bottom: 20px; text-transform: uppercase; }
.content__price .inn .join { text-align: center; margin-top: 20px; }
.content__price .inn .join .bd { margin: 0 auto; width: 200px; height: 50px; padding: 5px; border: 6px solid #fd5653; }
.content__price .inn .join input { width: 200px; height: 50px; background: #2fdaff; color: #fff; font-family: "intro", Arial, sans-serif; cursor: pointer; }

.out.team { background: url(../img/team_bg.jpg); -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }

.content__people { *zoom: 1; }
.content__people:after { content: " "; display: table; clear: both; }
.content__people .hero { padding: 40px 40px 20px 40px; border: 6px solid #2fdaff; margin: 0 40px 40px 0; float: left; }
.content__people .hero:nth-child(3n) { margin-right: 0; }
.content__people .hero .pht { text-align: center; }
.content__people .hero .pht .img { width: 200px; height: 200px; }
.content__people .hero .pht .img img { width: 100%; height: 100%; }
.content__people .hero .pht p { font-family: "intro", Arial, sans-serif; color: #fd5653; text-align: center; margin-top: 20px; }

.out.about { background: url(../img/about_bg.jpg); -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }

.content__about { width: 350px; padding: 20px; background: #fff; position: relative; }
.content__about:before { border: 10px solid transparent; border-left: 10px solid white; border-top: 10px solid white; content: ""; display: block; position: absolute; top: 0; right: 0; margin-right: -20px; }
.content__about p { font-family: "intro-l", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size: 14px; }
.content__map { *zoom: 1; width: 100%; margin-top: 40px; position: relative; }
.content__map:after { content: " "; display: table; clear: both; }
.content__map .m { width: 500px; display: inline-block; margin-top: 40px; }
.content__map .m img { max-width: 100%; }
.content__map .img { width: 300px; display: inline-block; position: absolute; top: 0; margin-left: -45px; }
.content__map .img img { max-width: 100%; }

.out.top { background: url(../img/top-page_bg.jpg); -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }
.out.top .content .inn { text-align: center; }
.out.top .content__logo { text-align: center; margin-top: 80px; }
.out.top .content__logo .bg { margin: 0 auto; width: 300px; display: block; }
.out.top .content__logo .bg img { max-width: 100%; }
.out.top .content .info { color: #fff; }
.out.top .content .info h3 { font-family: "intro", Arial, sans-serif; font-size: 18px; letter-spacing: 15px; margin-bottom: 20px; }
.out.top .content .info p { font-family: "intro-l", Helvetica, sans-serif; font-size: 18px; }
.out.top .content .info p span.b { font-family: "intro", Arial, sans-serif; }
.out.top .content .info p span.i { font-family: Arial, sans-serif; }

.content__quest section:nth-of-type(1) { border-top: 1px solid; border-right: 1px solid; }

.content__quest section:nth-of-type(2), .content__quest section:nth-of-type(3), .content__quest section:nth-of-type(4), .content__quest section:nth-of-type(6), .content__quest section:nth-of-type(7) { border-bottom: 1px solid; border-left: 1px solid; }

.content__quest section:nth-of-type(5), .content__quest section:nth-of-type(8) { border-bottom: 1px solid; border-right: 1px solid; }

.content__quest section:nth-of-type(1):before, .content__quest section:nth-of-type(2):after, .content__quest section:nth-of-type(3):after, .content__quest section:nth-of-type(4):after, .content__quest section:nth-of-type(5):before, .content__quest section:nth-of-type(6):before, .content__quest section:nth-of-type(7):before, .content__quest section:nth-of-type(8):before { width: 10px; height: 10px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background-color: #fd5653; }

.content__quest section:nth-of-type(1):after, .content__quest section:nth-of-type(2):before, .content__quest section:nth-of-type(3):before, .content__quest section:nth-of-type(4):before, .content__quest section:nth-of-type(5):after, .content__quest section:nth-of-type(6):after, .content__quest section:nth-of-type(7):after, .content__quest section:nth-of-type(8):after { width: 6px; height: 6px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background-color: #fd5653; }

.out.quest { background: url(../img/quest_bg.jpg); -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }

.content__quest { position: relative; }
.content__quest .map { width: 480px; float: left; position: relative; top: 100px; }
.content__quest .map img { max-width: 100%; }
.content__quest .move { max-width: 550px; background-color: #fff; text-transform: uppercase; margin: 20px; font-family: "intro", Arial, sans-serif; display: table; position: relative; *zoom: 1; }
.content__quest .move:after { content: " "; display: table; clear: both; }
.content__quest .move:nth-of-type(2) { left: -360px; width: 282px; }
.content__quest .move:nth-of-type(2) .text { font-size: 11px !important; }
.content__quest .move:nth-of-type(2):after { content: ""; border: 10px solid transparent; border-left: 10px solid white; border-top: 10px solid white; position: absolute; left: 0; bottom: 0; margin-bottom: -20px; }
.content__quest .move:nth-of-type(3) { margin-top: -115px; width: 380px; }
.content__quest .move:nth-of-type(3):before { content: ""; border: 10px solid transparent; border-bottom: 10px solid white; border-left: 10px solid white; position: absolute; left: 0; top: -20px; }
.content__quest .move:nth-of-type(4) { left: -40px; margin-top: 5px; margin-bottom: 0; }
.content__quest .move:nth-of-type(4):before { content: ""; border: 10px solid transparent; border-bottom: 10px solid white; border-right: 10px solid white; position: absolute; right: 150px; top: -20px; top: -20px; }
.content__quest .move:nth-of-type(5) { left: 450px; width: 420px; margin-top: 25px; }
.content__quest .move:nth-of-type(5):before { content: ""; border: 10px solid transparent; border-bottom: 10px solid white; border-left: 10px solid white; position: absolute; right: 220px; top: -20px; }
.content__quest .move:nth-of-type(6) { left: 220px; margin-top: 6px; }
.content__quest .move:nth-of-type(6):before { content: ""; border: 10px solid transparent; border-bottom: 10px solid white; border-left: 10px solid white; position: absolute; left: 0; top: -20px; }
.content__quest .move:nth-of-type(7) { left: 120px; margin-top: 5px; width: 493px; }
.content__quest .move:nth-of-type(7):before { content: ""; border: 10px solid transparent; border-bottom: 10px solid white; border-left: 10px solid white; position: absolute; left: 50%; top: -20px; }
.content__quest .move:nth-of-type(8) { left: 580px; margin-top: 1px; width: 274px; }
.content__quest .move:nth-of-type(8):before { content: ""; border: 10px solid transparent; border-bottom: 10px solid white; border-right: 10px solid white; position: absolute; right: 0; top: -20px; }
.content__quest .move:nth-of-type(9) { left: 70px; margin-top: 4px; }
.content__quest .move:nth-of-type(9):before { content: ""; border: 10px solid transparent; border-bottom: 10px solid white; border-right: 10px solid white; position: absolute; right: 120px; top: -20px; }
.content__quest .move .n { display: table-cell; vertical-align: middle; }
.content__quest .move .n h3 { color: #2fdaff; font-size: 2em; margin-left: -5px; }
.content__quest .move .text { display: table-cell; vertical-align: middle; padding: 10px 15px; color: #3D3C3C; font-size: 12px; }
.content__quest section { position: relative; color: #fd5653; top: 5px; }
.content__quest section:after, .content__quest section:before { content: ""; position: absolute; }
.content__quest section:nth-of-type(1) { width: 156px; height: 134px; left: 121px; z-index: 2; }
.content__quest section:nth-of-type(1):before { top: -5px; left: -5px; }
.content__quest section:nth-of-type(1):after { bottom: -3px; right: -3px; }
.content__quest section:nth-of-type(2) { width: 78px; height: 16px; top: -112px; left: 401px; }
.content__quest section:nth-of-type(2):before { top: -3px; left: -3px; }
.content__quest section:nth-of-type(2):after { bottom: -5px; right: -5px; }
.content__quest section:nth-of-type(3) { width: 1px; height: 18px; left: 750px; top: -109px; }
.content__quest section:nth-of-type(3):before { top: -3px; left: -3px; width: 5px; height: 5px; }
.content__quest section:nth-of-type(3):after { bottom: -5px; right: -4px; }
.content__quest section:nth-of-type(4) { width: 1px; height: 18px; left: 650px; top: -131px; }
.content__quest section:nth-of-type(4):before { top: -3px; left: -3px; width: 5px; height: 5px; }
.content__quest section:nth-of-type(4):after { bottom: -5px; right: -4px; }
.content__quest section:nth-of-type(5) { width: 230px; height: 17px; left: 239px; top: -163px; }
.content__quest section:nth-of-type(5):before { bottom: -5px; left: -3px; }
.content__quest section:nth-of-type(5):after { top: -5px; right: -4px; }
.content__quest section:nth-of-type(6) { width: 145px; height: 15px; left: 241px; top: -97px; }
.content__quest section:nth-of-type(6):before { bottom: -5px; right: -3px; }
.content__quest section:nth-of-type(6):after { top: -5px; left: -4px; }
.content__quest section:nth-of-type(7) { width: 243px; height: 11px; left: 632px; top: -92px; }
.content__quest section:nth-of-type(7):before { bottom: -5px; right: -3px; }
.content__quest section:nth-of-type(7):after { top: -5px; left: -4px; }
.content__quest section:nth-of-type(8) { width: 82px; height: 9px; left: 518px; top: -106px; }
.content__quest section:nth-of-type(8):before { bottom: -5px; left: -3px; }
.content__quest section:nth-of-type(8):after { top: -5px; right: -4px; }
