// Normally mainpage styles
$ico: loca place play exp cool net bon
=sprite-loop
	@each $icon in $ico
		.#{$icon}
			i
				+s(#{$icon})
				display: inline-block
				margin-top: 40px 
				+hdpi
					+s(#{$icon}_r)
					margin-top: 20px 
.out.feature
	background: url(../img/feature_bg.jpg)
	+background-size(cover)
	min-width: 1075px 
.content
	padding-bottom: 40px 
	&__feature
		position: relative
		.thng
			float: left
			height: 247px
			width: 480px
		
			&:nth-child(4n) 
				margin-left: -38px 
				width: 499px 
			&.img
				z-index: 9
				position: relative
				img
					max-width: 100% 
					min-height: 100% 
			&.text
				background: #fff
				text-align: center
				&:nth-of-type(even)
					margin-left: -19px
				color: #3D3C3C
				h5
					font-family: "intro", Arial, sans-serif    
					font-size: 14px 
					text-transform: uppercase 
					padding-top: 20px 
				p
					margin: 0 auto
					width: 408px 
					font-family: "intro-l", Helvetica, Arial, sans-serif
					text-transform: uppercase
		+sprite-loop


			
				
	





















































































































































































































