.out.price
	background: url(../img/price_bg.jpg)
	+background-size(cover) 

.content
	&__price
		.inn
			.about
				margin: 0 auto
				padding: 10px 
				border: 6px solid $blue
				width: 480px 
				.b
					background: #FFF 
					text-align: center
				.num
					width: 100px 
					height: 100px
					position: relative
					display: inline-block
					+border-radius(50%)
					border: 4px solid transparent
					margin: 20px  0
					box-shadow: 0 0 0 6px  crimson
					h4
						margin-top: 30px 
						color: $logo
						font-family: "intro" 
						font-size: 28px
						.cur
							font-family: Arial
							font-weight: bolder
				p
					font-family: "intro-l"
					font-weight: 100 
					font-size: 16px
					padding-bottom: 20px 
					text-transform: uppercase      
			.join
				text-align: center
				margin-top: 20px 
				.bd
					margin: 0 auto
					width: 200px 
					height: 50px 
					padding: 5px
					border: 6px solid $logo
					// width: 100px
				input
					// padding: 15px 20px
					width: 200px 
					height: 50px 
					background: $blue 
					color: #fff
					font-family: "intro" 
					cursor: pointer  
				